

page {
  background-color: #f2f2f2;
}
.person {
  // 顶部

  .bg {
    width: 100%;
    height: 300px;
    background-color: aquamarine;
  }
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #fff;
    font-size: 20px;
    .top {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 20px;
        justify-content:space-between;
        .left {
            font-size: 29px;
        }
        .right {
            display: flex;
            color: #999;
            align-items: center;
        }
        .icon {
          margin-left: 5px;
        }
    }
    .center {
      flex: 1;
      display: flex;
      justify-content: space-around;
      .center-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        justify-content: space-between;
        height: 100%;
        padding: 20px 0;
        box-sizing: border-box;
        font-size: 20px;
        color: #333;
        .img {
          width: 40px;
          height: 40px;
          // background-color: red;
        }
      }
    }
  }
  .list {
    margin-top: 30px;
    background-color: #fff;
    .list-li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 120px;
      padding: 0 20px;
      font-size: 28px;
      border-bottom: 2px solid #f2f2f2;
      .left {
        display: flex;
        align-items: center;
        font-size: 24px;
        .img {
          width: 50px;
          height: 50px;
          margin-right: 40px;
          // background-color: pink;
        }
      }
      .right {
        
      }
      .icon {
        font-size: 30px;
      }
    }
    .last {
      border: 0;
    }
  }
}
